@import "ui-variables";

.timetracker-stats {
    text-align: center;

    h2 {
        margin-top: 45px;
        color: @text-color-highlight;
    }

    .timetracker-files {
        text-align: left;
        margin-left: 2em;
    }

    .timetracker-time {
        padding: 0 5px;
        color: @text-color-info;
    }

    button {
        margin-top: 25px;
    }
}
